@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
} 

body {
    margin: auto;
    
}

header {
    background-color: black; 
    padding-bottom: 40px;
      
    
    
}

header > h1 {
    font-family: var(--fonte2);
    color: white;
    font-size: 8em;
    text-align: center;  
    font-variant: small-caps;
    margin: auto;  
    padding-top: 30px;
    
}

header > p {
    font-family: var(--fonte1);
    color: white;
    text-align: center; 

}

a {
    font-family: var(--fonte1);
    color: white;
    font-weight: bold;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    font-size: 2.8em;
    line-height: 2.0;
    margin-left: 30px;
}